<% layout('/layouts/boilerplate') -%> <% layout('/layouts/boilerplate') -%>

<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Edit your Listing</h3>

    <form
      method="post"
      action="/listings/<%= list._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          value="<%= list.title %>"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          class="form-control"
          cols="30"
          rows="5"
          required
          ><%= list.description %></textarea>
          <div class="invalid-feedback">Please Enter a Short description!</div>
      </div>
      <div class="mb-3" >
        <h5>Original Image</h5>
          <img style="width: 200px" src="<%=list.image.url%>">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input
          type="file"
          name="image"
          class="form-control"
          />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="price"
            value="<%= list.price %>"
            class="form-control"
            required
          /><div class="invalid-feedback">Please Enter a valid Price!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="country"
            value="<%= list.country %>"
            class="form-control"
            required
          /><div class="invalid-feedback">Please Enter a valid Country!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="location"
          value="<%= list.location %>"
          class="form-control"
          required
        /><div class="invalid-feedback">Please Enter a valid Location!</div>
      </div>

      <button class="btn btn-dark add-btn mt-3 mb-5">Update Listing</button>
    </form>
  </div>
</div>
<script src="/public/js/script.js"
