<% layout('/layouts/boilerplate') -%>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3 class="show-header"><%= list.title %></h3>

    <div class="card show-card">
      <img
        src="<%= list.image %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text">
          <br />
          <%= list.description %> <br />
          &#8377; <%= list.price.toLocaleString("en-IN") %> <br />
          <%= list.location %> <br />
          <%= list.country %>
        </p>
      </div>
    </div>

    <div class="show-btns mb-5">
      <a href="/listings/<%= list._id %>/edit" class="btn btn-dark edit-btn"
        >Edit</a
      >

      <form method="POST" action="/listings/<%=list._id%>?_method=DELETE">
        <button class="btn btn-dark delete-btn">Delete</button>
      </form>
    </div>
  </div>
  <hr />
  <div class="col-6 offset-2">
    <h4>Leave a Review</h4>
    <form
      action="/listings/<%=list.id%>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="range2" class="form-label">Rating</label>
        <input
          type="range"
          class="form-range"
          min="0"
          max="5"
          id="range2"
          name="review[rating]"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment class=form-label">Comment</label>
        <textarea
          cols="30"
          rows="5"
          name="review[comment]"
          id="comment"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a valid comment</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr />
    <h3>Reviews</h3>
    <div class="row">
      <h4>All Reviews</h4>
      <% if(list.review.length > 0) { %> <% for(let r of list.review) { %>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p class="card-text"><%= r.comment %></p>
          <p class="card-text"><%= r.rating %> stars</p>
        </div>
        <form
          mb-3
          method="POST"
          action="/listings/<%= list._id %>/reviews/<%= r._id %>?_method=DELETE"
        >
          <button class="btn btn-dark btn-sm mb-3">Delete</button>
        </form>
      </div>
      <% } %> <% } else { %>
      <p>No reviews yet.</p>
      <% } %>
    </div>
  </div>
</div>
